torch
torchvision
numpy
scipy
scikit-image
opencv-python
tifffile
Pillow
tqdm
einops
ema-pytorch
tensorboard
matplotlib
pandas
scikit-learn
segmentation-models-pytorch
timm
diffusers
accelerate
thop
fvcore
rasterio
torchgan
termcolor
